<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="demo.spring.lhendup.Alien" autowire="byType">
     <property name="age" value="23">
        <bean id="laptop" class="demo.spring.lhendup.Laptop"></bean>
     </property> 
     <!-- <property name="lap" ref="desk"></property>  -->
    </bean>
    <!-- <bean id="laptop" class="demo.spring.lhendup.Laptop" lazy-init="true"></bean>
    <bean id="desktop" class="demo.spring.lhendup.Desktop" primary="true"></bean> -->
</beans>